body *{
   /* color:                  hsla(210, 100%, 100%, 0.88) !important; */
    background:             hsla(210, 100%, 50%, 0.05) !important;
    outline: 0.25rem solid  hsla(210, 100%, 50%, 0.80) !important;
    color: white;
}