
/* Content ---------------------------------------- */
.content_wrap {
  margin: 10px;
  display: block;
}

.gallery-pair {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

/* Bento grid? https://www.makeitgrid.com/ */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}
.item-0 {
  grid-column: 1;
  grid-row: 4 ;
}
.item-1 {
  grid-column: 1;
  grid-row: 1 / span 3  ;
}

/* post listing styles */
.img-gal {
  width:  95%;
  height: 95%;
  object-fit: cover;
  margin: 4px;
  border-radius: 4px;
}

/* Media response  ---------------------------------------- */
@media (max-width: 8in) {
  .gallery-pair {
    display: block;
  }
}