/* Reset ---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-size: medium;
    font-family: 'Courier';
    background-color: black;
}


/* Header ---------------------------------------- */
header {
    background-color:white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 180px;
    text-align: center;
    border-bottom: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .banner_text  {
    display:inline-block;
    font-family: 'Courier';
    font-size: medium;

}

header .banner_text select {
    font-family: 'Courier';
}

/* Navbar ---------------------------------------- */
.navbar {
  display: flex ;
  background-color: #333333;
  border-radius: 10px;
  margin: 8px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: inherit;

}

.navbar ul li {
  float: left;
  padding: 4px;

}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-radius: 4px;
  text-decoration: none;

}

.navbar ul li .active-page {
  background-color: #222222;
}
.navbar ul li a:hover {
  background-color: #111111;
}

/* Navbar dropdown */
/* think this is from W3.. */
/* TODO: debug style inheritance for dropdown button  */
.navbar .dropdown {
  position: relative;
  font-family: inherit;
  color: inherit;
}

.navbar button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: inherit;
  background-color: inherit;

}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: inherit;
}

/* clickable drop down option */
/* https://stackoverflow.com/questions/44832572/pure-css-clickable-dropdown */
/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
  display: none;
  background-color: #333333;
  border-radius: 2px;
  border:solid white;
}

/*position the label*/
label {
  /* position: relative;
  display: block; */
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-radius: 4px;
  text-decoration: none;

}

/*show the submenu when input is checked*/
input:checked~ul.submenu {
  display: block;
  position: fixed;
}

.navbar ul li label:hover {
  background-color: #111111;
}

/* arrows */
/* https://www.w3schools.com/howto/howto_css_arrows.asp  */
.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  vertical-align: middle;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition-duration: 0.2s;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition-duration: 0.2s;
}

/* respond to nav input press */
input:checked~ label i.arrow {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition-duration: 0.2s;
}





/* Content ---------------------------------------- */
.content_wrap {
  margin: 10px;
  max-width: 95%;
}

/* Bento grid? https://www.makeitgrid.com/ */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
  margin: 10px;
}
.item {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  /* font-size: 150%; */
  text-decoration: none;
}

.item-0 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}

.item-1 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item-2 {
  grid-column: 3;
  grid-row: 3;
}
.item-3 {
  grid-column: 1;
  grid-row: 4 / span 2;
}
.item-4 {
  grid-column: 2;
  grid-row: 4;
}

.item-5 {
  grid-column: 2;
  grid-row: 5;
}
.item-6 {
  grid-column: 3;
  grid-row: 4 / span 2;
}
.item-7 {
  grid-column: 1 / span 3;
  grid-row: 6 ;
}

.item-all {
  grid-column: 1 / span 3;
  grid-row: 1 / span 6;
  text-align: center;
  margin-bottom: 8px;
}


/* Footer ---------------------------------------- */
footer {
  background-color: black;
  color: grey;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: small;
}
footer p {
  vertical-align: middle;
  text-align: center;
  
}

/* Media response  ---------------------------------------- */
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

@media (max-width: 8.2in) {
    .mobile-only {
      display: block;
    }
    .desktop-only {
      display: none;
    }
    html {
        font-size: small;
    }
    header {
      padding: 10px;
      height: 75px;
      border-radius: 10px;
      margin: 9px;
    }

    header .banner_text  {
      font-size: small;
    
    }
    .navbar {
      padding: 5px;
      width: 95%;
    }
    .content_wrap {
      padding: 5px;
    }
    footer {
      font-size: smaller ;
    }

    /* for handling bento box display */

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 8px;
      box-sizing: border-box;
      overflow-x: hidden;
    }

    .item {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      padding: 5px;
      /* font-size: 150%; */
      text-decoration: none;
    }

    
    
}

