
/* Content ---------------------------------------- */
.content_wrap {
  margin: 10px;
  display: block;
}

.content_wrap .post ul li {
  margin-left: 20px;

}

.content_wrap .post ul li ul li {
  margin-left: 40px;

}

/* Media response  ---------------------------------------- */
